@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --Red: hsl(323, 81%, 58%);
    --Green: hsl(170, 58%, 47%);
    --Blue: hsl(247, 32%, 21%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --font-family: 'Poppins', sans-serif;
    --Fontsize: 14px;
}
html, body {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Mobile Responsiveness Starts Here */

body {
    /* background-image: url(./images/signin-banner.jpg); */
    background-position: top center;
    color: var(--DarkBlue);
    text-align: center;
    padding: 1% 5%;
}
.container .container2 {
    max-width: 360px;
    margin: auto;
    padding: 5% 10%;
    color: white;
    text-align: center;
    font-size: var(--Fontsize);
}
.form {
    background-color: var(--Blue);
    color: var(--GrayishBlue);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
h1 {
    animation-duration: 3s;
    animation-name: slidein;
    /* padding: 0 0px; */
    font-size: xx-large;
    margin: 50px auto;
}
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 100%;
            color: var(--Red);
        }
            
        to {
            margin-left: 0%;
            width: 100%;
            color: var(--Blue);
        }
    }
h1 a {
    color: var(--Red);
    text-decoration:double underline;
}
h1, h3 {
    color: var(--DarkBlue);
}
h3 {
    font-size: 26px;
    margin: 50px auto 0;
}
.nav {
    display: flex;
    flex-direction: column;
}
#signin-banner {
    width: 200px;
}
#signinBtn, #signupBtn {
    background-color: var(--Red);
    color: white;
    width: 150px;
    margin: 7px auto;
    border-radius: 5px;
    border: .5px solid var(--Red);
    padding: 15px;
    text-transform: uppercase;
}
#signinBtn:hover , #signupBtn:hover {
    cursor: pointer;
    background-color: var(--GrayishBlue);
    border-color: var(--GrayishBlue);
}
#submit, #signin {
    background-color: var(--Red);
    color: white;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    border: .5px solid var(--Red);
    padding: 15px;
    text-transform: uppercase;
}
#submit:hover, #signin:hover {
    cursor: pointer;
    background-color: var(--GrayishBlue);
    border-color: var(--GrayishBlue);
}
input[radio] {
    text-align: left;
}
.form-control#radio {
    text-align: left;
}
.form-para {
    font-size: 8px;
    padding: 3px 10px;
    text-align: justify;
    letter-spacing: 1px;
}
.form-span a {
    color: var(--Red);
    font-weight: 700;
    text-decoration: none;
}
.form input:focus {
    border: 1px solid rgb(89, 0, 255);
    outline: none;
}
.terms {
    display: flex;
}
#radio {
    width: 10%;
}
small {
    position: absolute;
    color: var(--Red);
    font-size: 0.65rem;
    font-style: italic;
}
.footer-info {
    font-size: x-small;
    margin-top: 30px;
}
.hide {
    display: none;
}
select {
    padding: 10px;
    width: 25%;
    border-radius: 5px;
    border: .5px solid var(--GrayishBlue);
    font-weight: 500;
    font-family: var(--font-family);
}
select:focus {
    border: 1px solid rgb(89, 0, 255);
    outline: none;
}
#phone {
    width: 50%;
}
.phone-flex {
    display: flex;
    position: absolute;
    margin-top: -40px;
    right: 0px;
    width: 20%;
}
.small-circle {
    background-color: white;
    border: .5px solid white;
    border-radius: 50%;
    padding: 2px;
    height: 2px;
    margin-top: 10px;
}
.first.small-circle {
    background-color: transparent;
}
.thin-line {
    border: .5px solid white;
    width: 30%;
    padding: 0;
    height: 1px;
    margin-top: 12px;
}
.big-circle {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    height: 30px;
    width: 30px;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.footer {
    display: flex;
    justify-content: center;
}
.getintouch {
    margin-top: 60px;
}
.getintouch img[src] {
    border: 1px solid transparent;
    border-radius: 48%;
    width: 40px;
    height: 30px;
    padding: 0px 5px;
}
.getintouch img[src]:hover {
    background-color: var(--Red);
}
.getintouch span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

/*VALIDATION STYLING CHANGES*/

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control > i {
    position: absolute;
    top: 42px;
    right: 10px;
    visibility: hidden;
}
.form-control > small {
    font-size: 12px;
    visibility: hidden;
    position: absolute;
    bottom:0; 
    left: 0;
    margin-left: 5px;
}
.form-control.error input {
    border-color: var(--Red);
}
.form-control.error i.fa-exclamation-circle { 
    color:var(--Red);
}
.form-control.success input {
    border-color: green;
}
.form-control.success i.fa-check-circle {
    color:green;
}
#form input {
    border: .2px solid var(--DarkBlue);
}
input {
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
    font-family: var(--font-family);
}
#phone > i {
    right: 28%;
    position: absolute;
}
#network-image {
    width: 25px;
    height: 20px;
    border-radius: 50%;
}


@media screen and (min-width:768px) {
    body {
        background-image: none;
        padding: 0;
    }
    .container, .container2 {
        display: flex;
        width: 1440px;
        margin: 1% auto;
        color: var(--DarkBlue);
        padding: 1% 5%;
    }
    .logo {
        width: 150px;
        margin-top: -30px;
        margin-left: -20px;
        /* margin-bottom: 10%; */
    }
    .nav {
        display: inline;
        /* margin-bottom: 10px; */
    }
    h1 {
        font-size: 50px;
        margin-top: 30%;
        margin-bottom: 30%;
    }
    .container2 h1 {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    h3 {
        font-size: x-large;
        color: var(--DarkBlue);
    }
    .card-1 {
        text-align: left;
        margin-right: 15%;
    }
    .card-2 {
        margin: 0 auto;
        width: 100%;
    }
    .form {
        padding: 25px;
        margin: 0 auto;
    }
    input {
        width: 100%;
    }
    #signinBtn, #signupBtn {
        background-color: var(--Red);
        color: white;
        width: 100px;
        padding: 10px;
    }
    #submit, #signin {
        width: 100%;
    }
    .footer {
        display: flex;
        justify-content:flex-start;
    }
    .footer-info {
        margin-top: 70px;
    }
    .hide {
        display: none;
    }
}